
<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body%>
    <button class="buttonTJ">点击</button>
  </body>
</html>
<script>
  (function (w, d, e, x) {
    console.log("1");
    w[e] = function () {
      w.cbk = w.cbk || [];
      w.cbk.push(arguments);
    };
    x = d.createElement('script');
    x.async = true;
    x.id = "zhichiScript";
    x.className="buttonTJ";
    x.src = 'https://chat.sobot.com/chat/frame/v2/entrance.js?sysnum=c3d158c27d484f8e8fc12efdbaf045ee';
    d.body.appendChild(x);
  })(window, document, 'zc');
  zc("config",{
    custom:true,
    man_trace:true,
    expand_size:"half",
    pre_visit_args:{
        'pre_visit_url': '来源页的url 没有 则不传'
      },
    cur_visit_args:{
        'cur_visit_url': '当前页的url 没有 则不传'
      }
});
</script>